body {
    background: #323a46;
    font-family: Arial;
    margin-top: 0%;
    padding: 20px;
    box-sizing: border-box;
    
}

div {
    padding: 20px;
    box-sizing: border-box;
    width: 80%;
    float: left;
    max-width: 1000px;
    min-width: 400px;
    height: 90%;
    max-height: 800px;
    margin: 0 auto;
   background-color: #CDF1F9;
   /* background-image: url(start-Page.png);*/
    background-repeat: no-repeat;
    overflow: hidden;
    /*position: relative;*/
}

h2 {
    padding: 20px;
    box-sizing: border-box;
    width: 100%;
    position: absolute;
    top: 90px;
    left: 100px;
}

img {
    padding: 20px;
    box-sizing: border-box;
    width: 60%;
    height: auto;
    position: relative;
    top: -20px;
    margin: 5px;
}

.emailLabel {
    top: 183px;
    left: 120px;
    position: absolute;
}

.passLabel {
    top: 283px;
    left: 120px;
    position: absolute;
}

.suguestPass {
    top: 360px;
    left: 120px;
    position: absolute;
    font-size: x-small;
}

.logoEnd {
    padding: 20px;
    box-sizing: border-box;
    width: 90%;
    height: auto;
    position: relative;
    top: 300px;
    margin: 5px;
}

.slogan {
    padding: 20px;
    /*padding: 180px 0px;*/
    box-sizing: border-box;
    width: 100%;
    top: 240px;
    position: relative;
    display: inline-block;
    font-size: medium;
}

.buttonLogIn {
    position: absolute;
    width: 220px;
    height: 42px;
    left: 160px;
    top: 261px;
    background-color: rgba(245, 170, 200, 0.5);
    mix-blend-mode: darken;
    border: 1px solid #F5AAC8;
    border-radius: 10px;
}

.buttonLogIn:hover {
    background-color: #d487a6;
}

.buttonReg {
    position: absolute;
    width: 220px;
    height: 42px;
    left: 160px;
    top: 348px;
    background-color: rgba(245, 170, 200, 0.5);
    mix-blend-mode: darken;
    border: 1px solid #F5AAC8;
    border-radius: 10px;
   
}

.buttonReg:hover {
    background-color: #d487a6;
}

.buttonS {
    position: absolute;
    width: 110px;
    height: 42px;
    background-position: 50px 50px;
    left: 228px;
    top: 418px;
    background-color: rgba(245, 170, 200, 0.5);
    mix-blend-mode: darken;
    border: 1px solid #F5AAC8;
    border-radius: 10px;
    z-index: 2;
}

.buttonS:hover {
    background-color: #d487a6;
}

.buttonB {
    position: absolute;
    background-image: url(/icon-back.png); /* 16px x 16px */
    background-color: transparent; /* make the button transparent */
    background-repeat: no-repeat;  /* make the background image appear only once */
    /*background-position: 7px 19px;  /* equivalent to 'top left' */
    border: none;           /* assuming we don't want any borders */
    cursor: pointer;        /* make the cursor like hovering over an <a> element */
    height: 27px;           /* make this the size of your image */
    padding-left: 30px;     /* make text start to the right of the image */
    /*vertical-align: middle;  /*align the text vertically centered */
    top:500px;
    left:60px;
}


.inputE {
    position: absolute;
    width: 220px;
    height: 42px;
    left: 120px;
    top: 220px;

    background: #CDCDE0;
    mix-blend-mode: luminosity;
    box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
}



.inputP {
    position: absolute;
    width: 220px;
    height: 42px;
    left: 120px;
    top: 320px;
    mask-type: luminance;

    background: #B5D9E0;
    mix-blend-mode: luminosity;
    box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
}

.messageE{
    top: 183px;
    left: 120px;
    position: absolute;
    color: yellow;
}

.footP {
    padding: 220px 0px;
    box-sizing: border-box;
    width: 100%;
    top: 190px;
    position: relative;
    display: inline-block;
    font-size: xx-small;
}

@media screen and (max-width: 800px) {
   /* body {
        background: wheat;
    }*/

    .content {
        width: 85%;
    }

    .slogan {
        width: 100%;
    }
}

@media screen and (max-width: 360px) {
    .content {
        width: 100%;
    }

    .slogan {
        display: 60%;
    }
}