body {
    margin: 0;
    padding: 0;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(8, 1fr);
    background-color: #1ABAC8;
    width: 100vw;
    height: 100vh;
}

.headerWelcome,
.headerLogin,
.headerRegister {
    grid-column: span 4;
    grid-row: span 2;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.h2Login {
    font-size: large;
    margin: 1vh;
}
h3 {
    font-size: small;

}
.headerPetHouse {
    grid-column-start: span 3;
    grid-row: span 1;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.navPetHouse {
    grid-column-end: span 1;
    grid-row: span 1;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-end;
}

.sectionWelcome,
.sectionLogin,
.sectionRegister {
    grid-column: span 4;
    grid-row: span 5;
    display: flex;
    align-items: center;
    flex-direction: column;
    align-content: center;
}

.sectionPetHouse {
    background-color: #E8DBCF;
    grid-column: span 4;
    grid-row: span 7;
}

#post-form {
    display: flex;
    grid-column: span 4;
    grid-row: span 1;
    align-items: center;
    flex-direction: row;
    justify-content: center;
}

.mainPetHouse {
    display: flex;
    grid-columns: span 4;
    grid-row: span 6;
    align-items: center;
    flex-direction: column;
}

.scroll {
    width: 84vw;
    height: 54vh;
   /*overflow-y: scroll;*/
}

/*#postFirst {
    width: 100vw;
    height: 50vh;
}*/

#post {
    width: 307px;
    height: 188px;

}

.footerWelcome,
.footerLogin,
.footerRegister,
.footerPetHouse {
    grid-column: span 4;
    grid-row: span 1;
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
}

.emailLabel {
    margin-bottom: 1vh;
    margin-left: -9vw;
    font-size: medium;
}

.loginLabel {
    font-size: large;
    margin-bottom: 1px;
    font-size: large;
    margin-left: -17vw;
}

.passLabel {
    margin-bottom: 1vh;
    margin-left: -18vw;
}

.suguestPass {
    margin-top: 9px;
    margin-left: 37px;
    font-size: x-small;
}


.slogan {
    width: 95vw;
    font-size: large;
    font-family: arial;
    text-align: center;
}

.footP {
    margin-top: 11px;
}

.buttonLogIn {
    width: 220px;
    height: 42px;
    background-color: #B5D9E0;
    border: 1px solid #579caa;
    border-radius: 10px;
    margin-top: 42px;
}

.buttonLogIn:hover {
    background-color: #1d2d30;
}

.buttonGoogle {
    width: 134px;
    height: 29px;
    background-image: url(/images/btn_google.png);
    background-size: cover;
    background-repeat: no-repeat;
    /* background-color: transparent; */
    border: none;
    border-radius: 10px;
    cursor: pointer;
}

/*.buttonGoogle:hover {
    background-color: #579caa;
}*/

.buttonLogout {
    width: 14px;
    height: 14px;
    background-image: url(/images/logout-button.png);
    background-size: cover;
    border-radius: 32px;
}

.buttonLogout:hover {
    background-color: #579caa;
}

.buttonReg {
    width: 220px;
    height: 42px;
    background-color: #579caa;
    /* mix-blend-mode: darken; */
    border: 1px solid #579caa;
    border-radius: 10px;
    margin-top: 41px;
}

.buttonReg:hover {
    background-color: #1d2d30;
}

.buttonS {
    margin-top: 9px;
    width: 110px;
    height: 42px;
    background-position: 50px 50px;
    background-color: #579caa;
    border: 1px solid #B5D9E0;
    border-radius: 10px;
}

.buttonS:hover {
    background-color: #1d2d30;
}

.buttonB {
    margin-left: -50vw;
    background-image: url(/images/icon-back.png);
    background-color: transparent;
    background-repeat: no-repeat;
    border: none;
    cursor: pointer;
    height: 27px;
    padding-left: 23px;
    z-index: 2;
}

.buttonBackRegister {
    margin-top: 32vh;
    margin-left: -50vw;
    background-image: url(/images/icon-back.png);
    background-color: transparent;
    background-repeat: no-repeat;
    border: none;
    cursor: pointer;
    height: 27px;
    padding-left: 23px;
    z-index: 2;
}

.buttonE {
    margin-top: 7px;
    width: 110px;
    height: 28px;
    background-position: 50px 50px;
    background-color: #B5D9E0;
    border: 1px solid #579caa;
    border-radius: 10px;
}


.buttonE:hover {
    background-color: #579caa;
}


.inputE {
    width: 220px;
    height: 28px;
    background: #CDCDE0;
    box-shadow: inset 0px 4px 4px rgb(0 0 0 / 25%);
    border-radius: 10px;
}



.inputP {
    width: 220px;
    height: 28px;
    mask-type: luminance;
    background: #CDCDE0;
    box-shadow: inset 0px 4px 4px rgb(0 0 0 / 25%);
    border-radius: 10px;
}

.messageE {
    margin-top: -373px;
    font-size: x-large;
    color: white;
}

.messageErrorRegister {
    margin-top: -284px;
    font-size: x-large;
    color: white;
}

#patitas {
    position: absolute;
    width: 414px;
    height: 111px;
    left: 0px;
    top: 785px;
    background: url(/images/patitas.png);
}

#profile {
    margin-top: 1vh;
    border: #0f0300;
    background: white;
    width: auto;
    border-radius: 241px;
}

#profilePost {
    margin: 1vh;
    border: #0f0300;
    background: white;
    width: 16%;
    border-radius: 241px;
}

.profileContent {
    width: 306px;
    height: 59px;
    background: #D6CBAF;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

.postControls {
    width: 306px;
    height: 36px;
    background: #D6CBAF;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

.textPost {
    width: 306px;
    height: 90px;
    background: #D6CBAF;
}   

.inputPostMessage {
    margin: 3px;
    width: 360px;
   
    background: #D6CBAF;
    
    border-radius: 10px;
} 

.buttonDelete {
    width: 4vw;
    height: 4vh;
    background-image: url(./images/trash.png);
    background-repeat: no-repeat;
    background-size: contain;
    border: none;
    cursor: pointer;
}
/*.buttonDelete:hover {
    background-color: #c1c3c4;
}*/

.buttonEdition {
    width: 4vw;
    height: 4vh;
    background-image: url(./images/edition.png);
    background-repeat: no-repeat;
    background-size: contain;
    border: none;
    cursor: pointer;
}
/*.buttonEdition:hover {
    background-color: #579caa;
}*/
.buttonLike {
    width: 4vw;
    height: 4vh;
    background-image: url(./images/like.png);
    background-repeat: no-repeat;
    background-size: contain;
    border: none;
    margin: 3px;
    cursor: pointer;
}
/*.buttonLike:hover {
    background-color: #579caa;
}

.buttonlike:hover {
    background-color: #1d2d30;
}*/

#btn-save-post {
    width: 4vw;
    height: 4vh;
    background-image: url(./images/enviar.png);
    background-repeat: no-repeat;
    background-size: contain;
    border: none;
    cursor: pointer;
}
.line {
    height: 12px;
    background: #CFB9A0;
}
/*.inputPostTitle {
   //placeholder: "Como te sientes hoy?" ;
}*/


/*@media screen and (max-width: 414px) {
    main {
        width: 100%;
    }

    .slogan {
        display: 60%;
    }
}*/