body {
    margin: 0;
    padding: 0;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(8, 1fr);
    background-color: #1ABAC8;
    width: 100vw;
    height: 100vh;
}

.headerWelcome,
.headerLogin,
.headerRegister {
    grid-column: span 4;
    grid-row: span 2;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.headerPetHouse {
    grid-column-start: span 3;
    grid-row: span 1;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.navPetHouse {
    grid-column-end: span 1;
    grid-row: span 1;
    display: flex;
    /* margin-left: 83vw; */
    /* margin-top: -22vh; */
    flex-direction: row;
    justify-content: center;
    align-items: flex-end;
}

.sectionWelcome,
.sectionLogin,
.sectionRegister {
    grid-column: span 4;
    grid-row: span 5;
    display: flex;
    align-items: center;
    flex-direction: column;
    align-content: center;
}

.sectionPetHouse {
    background-color: #E8DBCF;
    /* background-image: url(./images/post-inicial.png); */
    /* background-position: center; */
    /* background-size: contain; */
    grid-column: span 4;
    grid-row: span 7;
    /* display: flex; */
    /* flex-direction: column; */
    /* align-content: space-around; */
    /* flex-wrap: nowrap; */
    /* justify-content: flex-start; */
    /* align-items: center;*/
}

#postform {
    display: flex;
    grid-column: span 4;
    grid-row: span 1;
    align-items: center;
    flex-direction: column;
}

.mainPetHouse {
    display: flex;
    grid-columns: span 4;
    grid-row: span 6;
    align-items: center;
    flex-direction: column;
}

.scroll {
    width: 59vw;
    height: 63vh;
    /*overflow-y: scroll;*/
}

/*#postFirst {
    width: 100vw;
    height: 50vh;
}*/

#post {
    width: 307px;
    height: 188px;

}

.footerWelcome,
.footerLogin,
.footerRegister,
.footerPetHouse {
    grid-column: span 4;
    grid-row: span 1;
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
}

.emailLabel {
    margin-top: 11px;
    margin-left: -53px;
}

.loginLabel {
    font-size: large;
}

.passLabel {
    margin-top: 11px;
    margin-left: -108px;
}

.suguestPass {
    margin-top: 9px;
    margin-left: 37px;
    font-size: x-small;
}


.slogan {
    width: 95vw;
    font-size: large;
    font-family: arial;
    text-align: center;
}

.footP {
    margin-top: 11px;
}

.buttonLogIn {
    width: 220px;
    height: 42px;
    background-color: #B5D9E0;
    border: 1px solid #579caa;
    border-radius: 10px;
    margin-top: 42px;
}

.buttonLogIn:hover {
    background-color: #1d2d30;
}

.buttonGoogle {
    width: 220px;
    height: 42px;
    background-image: url(/images/btn_google.png);
    background-size: cover;
    border-radius: 10px;
}

.buttonGoogle:hover {
    background-color: #579caa;
}

.buttonLogout {
    width: 14px;
    height: 14px;
    background-image: url(/images/logout-button.png);
    background-size: cover;
    border-radius: 32px;
}

.buttonLogout:hover {
    background-color: #579caa;
}

.buttonReg {
    width: 220px;
    height: 42px;
    background-color: #579caa;
    /* mix-blend-mode: darken; */
    border: 1px solid #579caa;
    border-radius: 10px;
    margin-top: 41px;
}

.buttonReg:hover {
    background-color: #1d2d30;
}

.buttonS {
    margin-top: 9px;
    width: 110px;
    height: 42px;
    background-position: 50px 50px;
    background-color: #579caa;
    border: 1px solid #B5D9E0;
    border-radius: 10px;
}

.buttonS:hover {
    background-color: #1d2d30;
}

.buttonB {
    margin-left: -50vw;
    background-image: url(/images/icon-back.png);
    background-color: transparent;
    background-repeat: no-repeat;
    border: none;
    cursor: pointer;
    height: 27px;
    padding-left: 23px;
    z-index: 2;
}

.buttonBackRegister {
    margin-top: 32vh;
    margin-left: -50vw;
    background-image: url(/images/icon-back.png);
    background-color: transparent;
    background-repeat: no-repeat;
    border: none;
    cursor: pointer;
    height: 27px;
    padding-left: 23px;
    z-index: 2;
}

.buttonE {
    margin-top: 9px;
    width: 110px;
    height: 42px;
    background-position: 50px 50px;
    background-color: #B5D9E0;
    border: 1px solid #579caa;
    border-radius: 10px;
}


.buttonE:hover {
    background-color: #579caa;
}


.inputE {
    width: 220px;
    height: 42px;
    background: #CDCDE0;
    box-shadow: inset 0px 4px 4px rgb(0 0 0 / 25%);
    border-radius: 10px;
}



.inputP {
    width: 220px;
    height: 42px;
    mask-type: luminance;
    background: #CDCDE0;
    box-shadow: inset 0px 4px 4px rgb(0 0 0 / 25%);
    border-radius: 10px;
}

.messageE {
    margin-top: -373px;
    font-size: x-large;
    color: white;
}

.messageErrorRegister {
    margin-top: -284px;
    font-size: x-large;
    color: white;
}

#patitas {
    position: absolute;
    width: 414px;
    height: 111px;
    left: 0px;
    top: 785px;
    background: url(/images/patitas.png);
}

#profile {
    margin-top: 1vh;
    border: #0f0300;
    background: white;
    width: auto;
    border-radius: 241px;
}

#profilePost {
    margin: 1vh;
    border: #0f0300;
    background: white;
    width: 16%;
    border-radius: 241px;
}

.profileContent {
    width: 306px;
    height: 59px;
    background: #D6CBAF;
    margin: 1px;
}

.postControls {
    width: 306px;
    height: 36px;
    background: #D6CBAF;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

.textPost {
    width: 306px;
    height: 90px;
    background: #D6CBAF;
    margin: 1px;
}

.inputPostMessage {
    margin: 3px;
    width: 360px;
   
    background: #D6CBAF;
    
    border-radius: 10px;
} 

.buttonDelete {
    width: 6vw;
    height: 4vh;
    /* border-radius: 10px; */
    background-image: url(./images/trash.png);
   /* background-repeat: no-repeat;*/
    background-size: cover;
    border: none;
    margin: 3px;
}
.buttonDelete:hover {
    background-color: #579caa;
}

.buttonEdition {
    width: 6vw;
    height: 4vh;
    /* margin-left: 192px; */
    /* width: 111px; */
    /* height: 36px; */
    border-radius: 10px;
    background-image: url(./images/edition.png);
   /* background-repeat: no-repeat;*/
    background-size: cover;
    border: none;
    margin: 3px;
}
.buttonEdition:hover {
    background-color: #579caa;
}
.buttonLike {
    width: 6vw;
    height: 4vh;
    /* margin-left: 192px; */
    /* width: 111px; */
    /* height: 36px; */
    border-radius: 10px;
    background-image: url(./images/like.png);
   /* background-repeat: no-repeat;*/
    background-size: cover;
    border: none;
    margin: 3px;
}
.buttonLike:hover {
    background-color: #579caa;
}

.buttonSave:hover {
    background-color: #1d2d30;
}

.line {
    width: 414vw;
    height: 12px;
    top: 155px;
    background: #CFB9A0;
}
/*.inputPostTitle {
   //placeholder: "Como te sientes hoy?" ;
}*/


/*@media screen and (max-width: 414px) {
    main {
        width: 100%;
    }

    .slogan {
        display: 60%;
    }
}*/